@use "./shared/shared";

html,
body {
  background-color: shared.$lightgrey;
  cursor: default;
}

body {
  font-size: 16px;
  min-width: 320px;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  word-wrap: break-word;
}

::selection {
  background-color: darken(#ccc, 5%);
}

::-moz-selection {
  background-color: darken(#ccc, 5%);
}

#header {
  margin-top: 1em;
  margin-bottom: 1em;
  .main_title {
    text-align: center;
    display: block;
    h2 {
      margin-top: -10px;
    }
  }
  a {
    text-decoration: none;
    color: shared.$radiant;
  }
}

.block {
  background-color: #fff;
  border-radius: 0.625em;
  border: 1px solid darken(shared.$lightgrey, 10%);
}

.wide-block {
  width: 50em;
  @include shared.auto_margin();
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
  .logo-img {
    max-width: 150px;
    width: 100%;
    height: auto;
    display: block;
    @include shared.auto_margin();
  }
  .logo {
    display: block;
    @include shared.auto_margin();
    width: 120px;
  }
  p,
  ul {
    margin-top: 0.8em;
    cursor: default;
  }
  li {
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .padded {
    margin: 2em 1em;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
}

.badge {
  font-size: 1rem;
  background-color: shared.$radiant;
  color: shared.$lightgrey;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
}

#social-links {
  text-align: center;
  position: fixed;
  right: 1em;
  top: 1em;
  padding: 1em 0.7em;
  background-color: rgba(255, 255, 255, 0.5);
  a {
    color: #000 !important;
    display: block;
    font-size: 1.6em;
    margin: 0.9em auto;
    text-decoration: none !important;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.btn {
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
  font-size: 1.414rem;
  color: shared.$radiant;
  border: 1px solid #e0e0e0;
  background-color: #f2f2f1;
  border-radius: 0.625em;
  padding: 0.5em 1em;
  box-shadow: inset #9d9d9d -2px -2px 2px;
  &:hover,
  &:focus {
    box-shadow: inset #9d9d9d -3px -3px 4px;
    color: shared.$radiant;
  }
  &:active {
    box-shadow: inset #9d9d9d 3px 3px 4px;
    padding: 0.6em 0.4em 0.4em 0.6em;
    color: shared.$radiant;
  }
  &.btn-lg {
    font-size: 1.999rem;
  }
}

.btn-group {
  text-align: center;
  .btn {
    margin-bottom: 1em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
