@media (max-width: 900px) {
  html {
    font-size: 16px;
  }

  body {
    font-size: clamp(0.95rem, 0.9rem + 0.2vw, 1rem);
  }
}

@media (max-width: 760px) {
  .btn.btn-lg {
    font-size: 1.6rem;
  }
}

@media (max-width: 640px) {
  .btn.btn-lg {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  #social-links {
    top: 0.2em;
    right: 0.5em;
  }
}
