{{ define "css" }}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
{{ partial "css/styles.html" (dict "stylesheetPath" "stylesheets/posts.scss") }}
{{ end }}

{{ define "main_title" }}Tags | Ilya Krukowski{{end}}

{{ define "main" }}
{{ partial "header/top.html" . }}

<main id="content">
  <h1>{{ .Title }}</h1>

  <ul>
      {{ range .Data.Terms.Alphabetical }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
      {{ end }}
  </ul>
</main>

{{ partial "footer/footer.html" . }}
{{ end }}