{{ define "css" }}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
{{ partial "css/styles.html" (dict "stylesheetPath" "stylesheets/posts.scss") }}
{{ end }}

{{ define "main_title" }}Blog | Ilya Krukowski{{end}}

{{ define "main" }}
<div id="main-wrapper">
  <div id="content-wrapper">
    {{ partial "header/top.html" . }}

    <div id="content">
      {{.Content}}

      <div id="posts-list">
        {{ range where .Site.RegularPages "Section" "posts" }}
        <article class="entry">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

          <div class="additional">
            <time class="timestamp" datetime="{{ .Date }}">
              {{ .Date.Format "January 2, 2006" }}
            </time>
          </div>

          <p class="post-preview">
            {{ .Content | plainify | truncate 500 }}
          </p>

          <hr>
        </article>
        {{ end }}
      </div>
    </div>
    <div class="push"></div>
  </div>

  {{ partial "footer/footer.html" . }}
</div>
{{ end }}