{{ define "css" }}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
{{ partial "css/styles.html" (dict "stylesheetPath" "stylesheets/single_post.scss") }}
{{ end }}

{{ define "other_meta" }}
<meta property="og:image" content="{{ .Params.meta_img }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ .Title }} |  by Ilya Krukowski">
<meta property="og:description" content="{{ .Params.meta_desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="Ilya Krukowski">
{{ end }}

{{ define "desc" }}{{.Params.meta_desc}}{{end}}
{{ define "main_title" }}{{.Title}} | Ilya Krukowski{{end}}

{{ define "main" }}
{{ partial "header/top.html" . }}

<main id="content" data-pagefind-body>
  <h1>{{.Title}}</h1>

  <article class="full-entry">
    <time class="timestamp subtext" datetime="{{ .Date }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>

    {{ if .Params.tags }}
    {{ range .Params.tags }}
    <a class="badge" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . | lower }}</a>
    {{ end }}
    {{ end }}

    <section id="post-body">
      {{ partial "toc.html" . }}

      {{ .Content }}
    </section>
  </article>
</main>

{{ partial "footer/footer.html" . }}
{{ end }}

{{ define "footer" }}
{{- $jsBundle := resources.Get "js/post.js" | js.Build | resources.Minify | fingerprint -}}

<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
{{ end }}