@media all and (max-width: 1440px) {
  html, body {
    font-size: 17px;
  }
}

@media all and (max-width: 1110px) {
  .full-entry {
    .image_container {
      max-width: 200px;
      img {
        max-width: 200px;
      }
    }
  }
}

@media all and (max-width: 870px) {
  html, body {
    font-size: 15px !important;
  }

  #content {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
}

@media all and (max-width: 895px) {
  header {
    #main-top-block {
      nav {
        margin-left: 15px;
      }
    }

    #logo {
      p {
        font-size: 3.3em;
      }
    }
  }
}