@media all and (max-width: 1440px) {
  html, body {
    font-size: 16px;
  }
}

@media all and (max-width: 1110px) {
  .full-entry {
    .image_container {
      max-width: 200px;
      img {
        max-width: 200px;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  #cast-index {
    width: 200px;
  }
}

@media all and (max-width: 870px) {
  html, body {
    font-size: 14px !important;
  }

  #content-wrapper {
    #content {
      width: 100%;
      float: none;
      margin-bottom: 15px;
    }
  }

  #related-list {
    width: auto;
    float: none;
    margin-bottom: 15px;
    ul {
      li {
        display: inline-block;
        padding-right: 10px;
      }
    }
  }
}

@media all and (max-width: 895px) {
  header {
    #main-top-block {
      #top_main_nav {
        margin-left: 15px;
      }

      #inner-search-block {
        margin-right: 15px;
      }
    }

    #logo {
      p {
        font-size: 3.3em;
      }
    }
  }
}


@media all and (max-width: 650px) {
  blockquote {width: 80%;}
}

@media all and (max-width: 380px) {

}