@use "./shared/shared";

.pagination {
  display: flex;
  padding: 0;
  margin: 2rem 0 0;
  list-style: none;

  li {
    border: 1px solid #ccc;
    border-right: 0;

    &.ellipsis {
      span {
        color: #777;
        cursor: default;
      }
    }

    a,
    span {
      display: block;
      padding: 0.2em 0.7em;
    }

    a {
      color: shared.$radiant;
      text-decoration: none;

      transition:
        background-color 0.2s ease,
        color 0.2s ease;

      &:hover {
        color: #222;
        background-color: #f0f0f0;
      }

      &:focus-visible {
        outline: 2px solid shared.$radiant;
        outline-offset: 2px;
      }
    }

    &.active {
      span {
        color: #222;
        background-color: #f0f0f0;
      }
    }

    &.disabled {
      span {
        color: #ccc;
        cursor: default;
      }
    }

    &:first-of-type {
      border-radius: 10px 0 0 10px;

      a,
      span {
        border-radius: 10px 0 0 10px;
      }
    }

    &:last-of-type {
      border-right: 1px solid #ccc;
      border-radius: 0 10px 10px 0;

      a,
      span {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
