.full-entry {
  #TableOfContents {
    margin: 1rem 0;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    padding: 0.5rem;
    ul {
      padding-left: 1rem;
      margin: 0;
    }
    li {
      list-style: none;
      margin-bottom: 0.3rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .timestamp {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .callout {
    background: #fffbcd;
    padding: 10px;
    border: 1px solid #ccc;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }

  .image_gallery {
    text-align: center;
    .image_container {
      display: inline-block;
    }
  }
  .image_container {
    max-width: 280px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    a {
      width: 100%;
      display: block;
    }
    img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    p {
      text-align: left;
      font-size: 0.9em;
      margin-bottom: 0;
      text-indent: 0;
    }
  }

  .image_container.left_aligned {
    float: left;
    margin-right: 10px;
  }

  .image_container.right_aligned {
    float: right;
    margin-left: 10px;
  }

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    th {
      font-weight: bold;
    }
    th,
    td {
      padding: 5px;
    }
  }

  iframe {
    max-width: 100%;
  }

  .inline_code, p > code {
    padding-left: 3px;
    padding-right: 3px;
    font-family: monospace;
    border: 1px solid #ccc;
    background-color: #fff;
    font-style: normal;
  }
}
