@use "./shared/shared";

#posts-list {
  h2 {
    margin-top: 0;
    padding-top: 0;
    a {
      &:link,
      &:active,
      &:visited {
        border: 0;
        text-decoration: none;
        color: shared.$radiant;
        transition: text-shadow 0.8s ease 0s;
      }

      &:hover {
        text-shadow: 1px 1px 4px #93c6c6;
      }
    }
  }

  .entry {
    hr {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    &:last-child {
      hr {
        display: none;
      }
    }
  }
}



