@use "./shared/shared";

#posts-list {
  h2 {
    margin-top: 0;
    padding-top: 0;
    a {
      &:link,
      &:active,
      &:visited {
        border: 0;
        text-decoration: none;
        color: shared.$radiant;
      }

      &:hover {
        text-shadow: 1px 1px 4px #93c6c6;
      }
    }
  }
  .additional {
    color: #949494;
  }
}

.entry {
  hr {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.full-entry {
  text-align: left;
  .timestamp {
    text-align: right;
    color: #949494;
    float: right;
    font-size: 1rem;
    margin-bottom: 10px;
    i {
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }
  .category-name {
    float: left;
    color: #949494;
    margin-bottom: 10px;
    a:link,
    a:hover,
    a:focus,
    a:active,
    a:visited {
      color: #949494;
      border-bottom: 0 none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  p {
    text-indent: 10px;
    span,
    div,
    ul,
    ol,
    li,
    img,
    a {
      text-indent: 0;
    }
  }

  .callout {
    background: #fffbcd;
    padding: 10px;
    border: 1px solid #ccc;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }

  .image_gallery {
    text-align: center;
    .image_container {
      display: inline-block;
    }
  }
  .image_container {
    max-width: 280px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    a {
      width: 100%;
      display: block;
    }
    img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    p {
      text-align: left;
      font-size: 0.9em;
      margin-bottom: 0;
      text-indent: 0;
    }
  }

  .image_container.left_aligned {
    float: left;
    margin-right: 10px;
  }

  .image_container.right_aligned {
    float: right;
    margin-left: 10px;
  }

  .code_example {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    iframe {
      width: 90%;
      border-color: #cccccc #f0f0f0 #f0f0f0 #cccccc;
      border-style: solid;
      border-width: 2px;
      padding: 5px;
      overflow: hidden;
    }
  }

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    th {
      font-weight: bold;
    }
    th,
    td {
      padding: 5px;
    }
  }
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  width: 90%;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.5;
  position: relative;
  color: #383838;

  &::before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 3rem;
    position: absolute;
    left: -27px;
    top: 21px;
    color: #7a7a7a;
  }

  &::after {
    display: block;
    content: "\201D";
    font-size: 3rem;
    position: absolute;
    right: 29px;
    bottom: 19px;
    color: #7a7a7a;
  }

  cite {
    color: #949494;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    text-align: right;

    &::before {
      content: "\2014 \2009";
    }
  }
}
