@use 'shared/icomoon';
@use 'shared/shared';
@use 'modern-normalize/modern-normalize';
@use 'blog/global';
@use 'blog/main_blocks';
@use 'blog/conditional';

:root {
  --pf-font: 'PT Sans', sans-serif;
  --pf-outline-focus: shared.$radiant;
  --pf-border-focus: shared.$radiant;
}