{{ $siteTitle := "Ilya Krukowski" }}

{{ $title := .Params.meta_title | default .Title }}

{{ if not .IsHome }}
  {{ $title = printf "%s | %s" $title $siteTitle }}
{{ else }}
  {{ $title = $siteTitle }}
{{ end }}

{{ $fallbackDesc := "" }}

{{ if .IsPage }}
  {{ $fallbackDesc = .Content | plainify | htmlUnescape | truncate 200 }}
{{ end }}

{{ $desc := .Params.meta_desc | default .Description | default .Site.Params.description | default $fallbackDesc }}
{{ $desc = $desc | plainify | htmlUnescape }}

{{ $image := .Params.meta_img | default .Site.Params.meta_image | default "og-image.png" }}
{{ $imageURL := $image | absURL }}
{{ $imageAlt := .Params.meta_img_alt | default $title }}

<title>{{ $title }}</title>

<meta name="description" content="{{ $desc }}">
<meta name="author" content="Ilya Krukowski">

<link rel="canonical" href="{{ .Permalink }}">

<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">
<link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">

<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ $siteTitle }}">
<meta property="og:locale" content="{{ .Site.Language.Locale | replaceRE "-" "_" }}">

<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">

{{ if not .Params.skip_meta_img }}
  <meta property="og:image" content="{{ $imageURL }}">
  <meta property="og:image:alt" content="{{ $imageAlt }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ $imageURL }}">
  <meta name="twitter:image:alt" content="{{ $imageAlt }}">
{{ else }}
  <meta name="twitter:card" content="summary">
{{ end }}

{{ if .IsPage }}
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">

  {{ with .Lastmod }}
    {{ if ne .Unix $.Date.Unix }}
      <meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
    {{ end }}
  {{ end }}

  {{ with .Params.tags }}
    {{ range . }}
      <meta property="article:tag" content="{{ . }}">
    {{ end }}
  {{ end }}
{{ end }}